<%= form_for(claim) do |f| %>
  <% if claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> Claim of user saved:</h2>

      <ul>
      <% claim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- subjet -->
  <div class="field">
    <%= f.label :subjet %>
    <%= f.text_field :subjet %>
  </div>
  <!-- content -->
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>